/* font-family: 'Fjalla One', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  font-size: 16px;
}
.container_menu-hamburger{
  margin: 0;
  position: fixed;
  z-index: 15;
  top: 8px;
  left: 8px;
  display: none;
}
.hamburger_menu{
  width: 50px;
  height: 50px;
}

.header{
  background-color: #d396e2;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  flex-wrap: wrap;
}
.header figure{
  margin: 0px 0px 0px 20px;
  width: 120px;
  height: 50px;

}
.header figure img{
  width: inherit;
  height: inherit;
}
.menu{
  height: inherit;
}
ul{
  list-style: none;
  padding:0px;
  margin: 0px;
  display: flex;
  height: inherit;
}
li{
  height: inherit;
}
h1, h2, h3, h4, h5, h6{
  font-family: cursive;
}
h1{
  line-height: 150%;
  font-size: 40px;
  font-weight: normal;
  /* font-style: normal; */
  letter-spacing: -.2px;
  text-transform: lowercase;
  color: rgb(2, 10, 12);
  margin: 0px;
}
.link{
  text-decoration: none;
  color:white;
  display: flex;
  height: inherit;
  align-items: center;
  margin: 0px 20px;
  padding:0px 10px;
}
.main{
  height: 300px;
  background-color: #895094;
  /* background-image: url(../img/img_main.jpg); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main figure{
  margin: 0px;
  /* width: 250px; */
  height: 300px;
}
.main img{
  width: inherit;
  height: inherit;
}
.main span{
  color: #a3082f;
  font-weight: bold;
  text-transform: capitalize;
  font-style: oblique;
  text-shadow: 3px -5px 3px rgb(36, 8, 43)
}
h2{
  margin: 0px;
  padding:1.5rem 0px;
  text-transform: uppercase;
  color:#005086;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.projects{
  padding: 0px 1.5rem 10px 1.5rem;
  background-color: #744bc525;
}
.project{
  /* border:1px solid black; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  /* box-shadow: derecha abajo difuminado color; */
  padding: 2%;
  margin: 0px 0px 1.8rem 0px;
  background-color: rgb(244, 232, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.project-left{
  width: 48%;
}
.project-title{
  margin: 0 0 0.7rem 0;
  font-size: 1.3rem;
}
.project-language, .project-date, .project-link, .project-description{
  margin-top: 0.7rem 0;
}
.project-container_image{
  width: 48%;
  margin: 0;
}
.project-image{
  width: 100%;
}

.experiences{
  padding:0px 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.experience{
  /* border:1px solid blue; */
  margin: 0px 2% 3rem 0px;
  /* width: 480px; */
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f3c798;
  
}
.experience-container_image{
  margin: 0px;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  /* height: 200px; */
  /* width: auto; */
}
.experience-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.experience-down{
  margin: 0px 1.8rem 1.3rem 1.8rem;
  margin-top: -2rem;
  background-color: rgba(250, 235, 203, 0.857);
  position: relative;
  padding: 20px;
  text-align: center;  
  border-radius: 10px;
}
.experience-title{
  margin: 0px;
}
.experience-description{
  text-align: left;
}
.experience-down button{
  border:1px solid #005086;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
  color: #005086;
}
.experience-mainTitle{
  /*margin-left: 30px; */
  margin: 0px;
  padding: 1.5rem 0 1.5rem 0rem;
  
  
}
.contact{
  display:flex;
  background-color: rgba(138, 79, 111, 0.795);
  padding: 1.7rem 2.5rem 1.7rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-form{
  /* border: 1px solid blue; */
  /* margin-left: 30px; */
}

.contact-form input{
  border-color: gray;
  border-style: solid;
  padding: 5px 5px 5px 35px;
  border-radius: 5px;
  background-image: url(../img/images.jfif);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position-y: center;
  background-position-x: 5px;
  outline: none;
  margin-top: 20px;
}

.contact-form button{
  display: block;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 16px;
  border:1px solid white;
  background-color: transparent;
  /* color: white; */
  margin-top: 10px;
  border-radius: 5px;
}

.contact-form h2{
  padding: 0px;
}

.redes{
  /* border:1px solid red; */
  display: flex;
}

.redes-link{
  width: 50px;
  height: 50px;
  /* border: 1px solid blue; */
  margin-left: 20px;
}
.redes-link.github{
  background-image: url(../img/github.png);
  background-size: 50px 50px;
}
.redes-link.facebook{
  background-image: url(../img/facebook.png);
  background-size: 50px 50px;
}
.redes-link.instagram{
  background-image: url(../img/instagram.png);
  background-size: 50px 50px;
}
.redes-link.twitter{
  background-image: url(../img/twitter.png);
  background-size: 50px 50px;
}


.footer{
  background-color: #c291be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 2.5rem;
  flex-wrap: wrap;
}
.footer-details{
  display: flex;
  align-items: center;
}
.footer-details img{
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.wrapper{
  max-width: 1000px;
  flex: 1;
  /* border:1px solid red; */
  margin:0px auto;
  display:inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  flex-wrap: inherit;
}
@media screen and (max-width:1024px){
  /* .wrapper.especial{
    margin: 0;
  } */
  h1{
    z-index: 5;
  }
  .main{
    position: relative;
    overflow: hidden;
    padding: 2rem 2rem;
  }
  .main figure{
    width: auto;
  }
  .main figure img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .experience-mainTitle{
    /*margin-left: 30px; */
    margin: 0px;
    padding: 1.5rem 0 1.5rem 1.5rem; 
  }
  
  
} 
@media screen and (max-width:767px){
  .container_menu-hamburger{
    display: block;
  }
  .menu{
    position: fixed;
    z-index: 20;
    background-color: rgba(4, 3, 3, 0.816);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header{
    height: auto;
    display: block;
  }
  ul{
    display: block;
  }
  .link{
    justify-content: center;
    margin: 0px 0px;
    padding: 10px 0px;
    font-size: 2rem;
    color: burlywood;
  }
  .link:hover{
    background-color: #d67ced ;
  }
  .header figure{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }
  .project{
    display: block;
    padding: 2%;
    /* font-size: 16px; */
    box-shadow: 0px 0px 8px black;
  }
  .project-left{
    width: auto;
  }
  .project-container_image{
    width: auto;
  }
  .project-language, .project-date, .project-link, .project-description{
    margin: 0.6rem 0;
  }
  .projects h2{
    font-size: 1.5rem;
    padding: 1.3rem 0;
  }
  .experiences{
    display: block;
  }
  .experience{
    width: 100%;
  }
  .experience-mainTitle{
    padding: 1.3rem 0 1.3rem 1.5rem;
    font-size: 1.5rem;
  }
  

}
@media screen and (max-width:572px){
  h1{
    font-size: 1.6rem;
  }
  .main{
    padding: 2.5rem 1rem;
  }
  .contact{
    justify-content: center;
    padding: 1.7rem 2.5rem 0.5rem 2.5rem;
    
  }
  .contact-form{
    text-align: center;
    /* margin: 0; */
  }
  .contact-form button{
    margin: 1rem auto 1.3rem auto;
  }
  .redes-link{
    margin-bottom: 1rem;
  }
  .redes{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer{
    display: block;
    text-align: center;
  }
  .footer-details{
    justify-content: center;
  }
  
}
@media screen and (max-width:480px){
  h1{
    font-size: 1.4rem;
    background-color: rgba(238, 130, 238, 0.652);
  }
  .main{
    padding: 2rem 1.2rem;
  }
  .main span{
    text-shadow: unset;
  }
  .projects{
    padding: 0px 1.2rem 6px 1.2rem;
  }
  .project{
  box-shadow: 0px 0px 6px black;
  padding: 3%;
  }
  .projects h2{
    padding: 1.1rem 0;
    font-size: 1.4rem;
  }
  .project-title{
    font-size: 1.2rem;
  }
  .project-language, .project-date, .project-link, .project-description{
    margin: 0.6rem 0;
    font-size: 1rem;
  }
  .link{
    padding: 0.5em 0;
  }
  .experiences{
    padding: 0px 1.2rem;
  }
  .experience-down{
    padding: 1rem;
    margin: 0 1.5rem 1.3rem 1.5rem;
    margin-top: -1.5rem;
  }
  .experience-mainTitle{
    padding: 1.1rem 0 1.1rem 1.2rem;
    font-size: 1.4rem;
  }
  .contact, .footer{
    padding: 1rem 1.3rem 0.5rem 1.3rem;
  }
}
@media screen and (max-width:320px){
  h1{
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-top: 3.5rem;
    background-color: rgba(238, 130, 238, 0.652);
  }
  .main{
    padding: 1rem 0.8rem;
  }
  .main span{
    text-shadow: unset;
  }
  .project{
    box-shadow: 0px 0px 4px black;
    margin-bottom: 0.9rem;
    padding: 4%;
  }
  .link{
    padding: 0.4em 0;
  }
  .projects{
    padding: 0px 0.9rem 6px 0.9rem;
  }
  .projects h2{
    padding: 1.1rem 0;
    font-size: 1.3rem;
  }
  .project-title{
    font-size: 1.1rem;
  }
  .project-language, .project-date, .project-link, .project-description{
    margin: 0.6rem 0;
    font-size: 0.9rem;
  }
  .experiences{
    padding: 0px 0.9rem;
  }
  .experience-down{
    padding: 0.8rem;
    margin: 0 1rem 1.3rem 1rem;
    margin-top: -1.5rem;
  }
  .experience-title{
    font-size: 1.1rem;
  }
  .experience-description{
    font-size: 0.9rem;
  }
  .experience-mainTitle{
    padding: 1.1rem 0 1.1rem 0.9rem;
    font-size: 1.3rem;
  }
  .redes-link.github{
    margin-left: 0;
  }
  .contact, .footer{
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
/* .content_video-youtube{
  width: 100%;
  height: 0;
  padding: 56.25%;
  position: relative;
} */
.video_youtube{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.video_youtube:hover{
  z-index: 8;
}

 